<html>
	<head>
		<title>Task A</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div id="container">
			<div class="title">
				<h1>Task A</h1>
			</div>
			<div id="content">
				<form method="post">
				<input type="submit" name="action" value="Location of the Tweet">
				<input type="submit" name="action" value="Popular">
				<input type="submit" name="action" value="Top Hashtags">
				<input type="submit" name="action" value="Original vs Retweeted">
				<input type="submit" name="action" value="Favourite Counts">
				<input type="submit" name="action" value="Type of Tweet">
				 </form>
			</div>
		</div>
	</body>
</html>