 <html>
	<head>
		<title>Output</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div id="container">
			<div class="title">
				<h1>Top 10 Hashtags</h1>
				<ul class="top_hashtags">
   			 		{% for item in top_hashtags %}
   			 			{% for i in item %}
   			 			{% if loop.index < 2 %} 
        				<li>{{ i | tojson }}</a></li>
        				{% endif %} 
        				{% endfor %}
    				{% endfor %}
				</ul>
			</div>
		</div>
	</body>
</html>